@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #1F497D;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo,
.footer-logo {
    width: 120px;
    height: auto;
}

.logo-cidade{
    width: 200px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.login-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #4A4541;
    border-bottom:  1px  #FF7F00 solid;
    color:#ffffff;
}
#descricao{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #4A4541;
    border-bottom:  1px  #FF7F00 solid;
    color:#ffffff;
}

.login-form button {
    padding: 12px;
    background-color: #FF7F00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #e07305;
}