@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #1d4276;
  color: white;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.greeting {
  margin-top: 35px;
  padding-left: 10px;
}

.greeting strong {
  color: #FF7F00;
}

.greeting h1 {
  font-size: 26px;
  margin-top: 3px;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 10px;
  gap: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.logo:nth-child(1) {
  background-color: #1F497D;
  padding: 15px;
  border-radius: 10px;
}

.logo:nth-child(2) {
  width: 150px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.card {
  background-color: #11325C;
  color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 32px;
  color: #FF8C00;
}


.menu {
  padding: 0 10px;
}

.menu h3 {
  color: #FF8C00;
  margin-bottom: 10px;
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.menu-options a {
  display: block;
}

.option {
  background-color: #D9D9D9;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.option:hover {
  background-color: #c0c0c0;
  cursor: pointer;
  transition: background-color 0.3s;
}

a {
  text-decoration: none;
  color: #FF7F00;
  display: block;
}

a.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #D9D9D9;
  color: black;
  padding: 0 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.icon {
  font-size: 24px;
  display: block;
  color: #FF7F00;
}

.recent {
  padding: 0 10px;
}

.recent-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 20px;
}

.vistoria-item {
  background: white;
  color: black;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eye-icon {
  font-size: 18px;
}


@media (min-width: 768px) {
  .logos {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }

  .logo {
    width: 120px;
  }

  .logo:nth-child(2) {
    width: 200px;
  }

  .cards {
    flex-direction: row;
  }

  .card {
    flex: 1;
  }

  .menu-options {
    flex-direction: row;
    gap: 20px;
  }

  .option {
    padding: 20px 30px;
    flex: 1;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .greeting h1 {
    font-size: 32px;
  }





}

@media (max-width: 360px) {

  .logo,
  .footer-logo {
    width: 90px;
  }

  .logo-cidade {
    width: 100px;
  }

  .login-form {
    padding: 15px;
    gap: 10px;
  }

  .login-form input,
  .login-form button {
    font-size: 14px;
    padding: 10px;
  }

  .first-name,
  .user-role {
    display: none;
  }

  .forms {
    justify-content: right;
    display: flex;
  }

}
